html {
    scroll-behavior: smooth;
    cursor: url('cursor.png'), auto;

  }

body {
    background-image: url("backgroundimage.PNG");
    background-repeat: no-repeat;
    background-color: #D6CDC6;
    width: 100%;
    height: 100%;
  }


.navbarfont{
    font-family: Havelock Titling;
    font-style: normal;
    font-weight: normal;
}
  
.ngecenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;   
}

#judul {
    font-family: Yeseva One;
    font-size: 128px;
    color:transparent;
    -webkit-text-stroke: 1px #000000;
    margin-top: -165px;
    margin-left: -10px;
}


#judulbayangan {
    font-family: Yeseva One;
    font-size: 128px;
    color: #98A4A5;
}

#tulisannama{
    /* Azzahra Abraara */
    font-family: Mermaid;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
    color: #333333;
}

#circle1{
   /* Ellipse 1 */
    border-radius: 50%;
    background-color: #EDBDA6;
    width: 18px;
    height: 18px;
}
#circle2{
/* Ellipse 3 */
    border-radius: 50%;
    background-color: #F7E3D5;
    width: 18px;
    height: 18px;
}

/* Ellipse 2 */
#circle3{
    border-radius: 50%;
    background-color: #D6ACA5;
    width: 18px;
    height: 18px;
}

.socialmedia{
    position: fixed;
    left: -5px;
}

#shadow{
    /* about me */
    font-family: Yeseva One;
    font-size: 150px;
    line-height: 150px;
    color: transparent;
    -webkit-text-stroke: 1px #BE8F87;
}

#aboutsaya{
    /* about me */
    font-family: Yeseva One;
    font-size: 72px;
    line-height: 166px;
    margin-top: -150px;
    padding-left: 50px;
    color: #333333;
}

.fotonya{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 120px;
    top: 800px;
}
.paragrafnya {
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    line-height: 24px;
    margin-top: 80px;

    color: #5C2828;
}

#skill{
    font-family: Mermaid;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;

    color: #576566;
}


#education{
    font-family: Mermaid;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;

    color: #576566;
}

.school{
    padding-top: 0px;
}

#uni{
    padding-top: 200px;
}

#experience{
    font-family: Mermaid;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;

    color: #576566;
}

#experiencenya{
    width: 500px;
    height:250px;
}

.bangsat{
    padding-left: 100px;
}

.contact{
    font-family: Mermaid;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 52px;

    color: #5C2828;
}

#square{
    position: absolute;
    width: 3px;
    height: 250px;
    
    background: #756359;
    }


.namaacara{
        font-family: Mermaid;
        font-style: normal;
        font-weight: bold;
        font-size: 72px;
        line-height: 72px;
    
        color: #333333;
}
    
.namaacara2{
    font-family: Mermaid;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
    /* identical to box height */
    
    
    color: #333333;
    }
    
.namaacara3{
    font-family: Mermaid;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
    
    color: #333333;
}

.tahun{
    font-family: Raleway;
    font-style: normal;
    font-size: 40px;
}