<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-4" style="color: red;">
            zahra
        </div>
        <div class="col" style="color: yellow;">
            alco
        </div>
        <div class="col" style="color: green;">
            sares
        </div>
    </div>
</div>